* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}
html {
  height: 100%;
  font-size: 20px;
  color: #03045e;
}
body {
  min-height: 100%;
  width: 100%;
  background-color: #caf0f8;
}
.button-svg {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
.svg-img {
  width: 30px;
  height: 30px;
}
.svg-img-insert {
  width: 45px;
  height: 45px;
  opacity: 0.7;
}

/* -------------------NAVIGATION STYLES--------------- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(245, 60%, 18%, 0.796);
}
header {
  position: sticky;
  top: 0;
}
#home-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(226, 199, 199);
}
#nav-links {
  display: flex;
  margin: 0;
  padding: 0;
}
#nav-links li {
  list-style: none;
}
#nav-links li a {
  text-decoration: none;
  color: rgb(226, 199, 199);
  padding: 1rem;
}

/* ---------------NAVIGATION STYLES-------------------- */

.main {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1rem;
  color: #03045e;
}

/* -----------------INPUT STYLES------------------- */
.wrap {
  display: flex;
  padding: 0.4rem;
  justify-content: flex-start;
  gap: 2rem;
}
.insert-input {
  border: 0;
  border-bottom: 1.5px solid black;
  outline: 0;
  font-size: 0.9rem;
  color: black;
  background: transparent;
  text-align: center;
  flex-basis: 40%;
  min-width: 0;
}

.wrap :nth-child(3) {
  min-width: 0;
  margin-left: auto;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 0.3; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
}

/* ----------INPUT STYLES----------------- */

/* --------------RECORD STYLE-------------------- */
h2 {
  text-decoration:underline;
  padding: 0.5rem;
}
.single-record {
  padding: 0.7rem;
  margin: 0.4rem;
  display: flex;
  justify-content: space-between;
  background-color: #90e0ef;
  border-radius: 10px;
  opacity: 0.6;
}
.single-record .phrases {
  flex-basis: 92%;
}
.single-record .buttons-in-record {
  flex-basis: 8%;
}
.phrases {
  display: inline-flex;
  list-style: none;
}

.phrases :nth-child(1) {
  border-right: 1px solid #3a0ca3;
  flex-basis: 25%;
  min-width: 5rem;
  overflow-wrap: anywhere;
  padding: 0.4rem;
  align-self: center;
}
.phrases :nth-child(2) {
  margin-left: 0.3rem;
  overflow-wrap: anywhere;
  align-self: center;
  padding: 0.4rem;
}

.buttons-in-record {
  display: flex;
  justify-content: space-between;
  gap: 0.7rem;
}

/* -----------------RECORD STYLE----------------------- */

/* ------------------------MODALS-----------------------  */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  gap: 0.2rem;
}
.modal-input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: grey;
  min-width: 0;
}
#btn-modal-update {
  border: 1px solid grey;
  border-radius: 1rem;
  padding: 0.4rem;
  background-color: #ade8f4;
  max-width: min-content;
}
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
/* ------------------------MODALS-----------------------  */

@media screen and (max-width: 430px) {
  html {
    font-size: 16px;
  }
  .phrases {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  .phrases :nth-child(1) {
    border-bottom: 1px solid orange;
    border-right: 0;
    flex-basis: 25%;
    min-width: 5rem;
    overflow-wrap: anywhere;
    padding: 0.4rem;
    text-align: center;
  }
  .phrases :nth-child(2) {
    margin-left: 0.3rem;
    overflow-wrap: anywhere;
    text-align: center;
    padding: 0.4rem;
  }
  .svg-img {
    width: 25px;
    height: 25px;
  }
  .svg-img-insert {
    width: 35px;
    height: 35px;
  }
}
