* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h3 {
  text-align: center;
}
h5 {
  text-align: center;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
body {
  font-size: 2vw;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}
.start {
  padding: 1em;
  border: 3px solid red;
}
.wrap {
  margin-top: 1.5em;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  padding: 1.5vw;
  justify-content: flex-start;
  border: 2px solid red;
  gap: 3vw;
}
input {
  font-size: 1.3vw;
}
.wrap :nth-child(1) {
  min-width: 0;
  border: 1px solid black;
  padding: 0.8em;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 8em;
  max-width: 20em;
}
.wrap :nth-child(2) {
  min-width: 0;
  border: 1px solid black;
  padding: 0.8em;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 8em;
  max-width: 20em;
}
.wrap :nth-child(3) {
  flex-basis: 4em;
  min-width: 0;
  margin-left: auto;
  border: 1px solid black;
  padding: 0.3em;
}
.wrap :nth-child(4) {
  flex-basis: 4em;
  min-width: 0;
  /* margin-left: auto; */
  border: 1px solid black;
  padding: 0.3em;
}

#collection {
  margin-top: 1em;
  border: 3px solid red;
}

#list {
  list-style-position: inside;
  padding: 0.2em;
}
.item {
  border: 1px solid red;
  padding: 0.7em;
  margin: 0.4em;
  display: flex;
  justify-content: space-between;
}
span {
  border: 1px solid green;
  width: 5em;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.database {
  text-align: center;
}

/* ------------------------MODALS-----------------------  */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
